@import "vars";
.order {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: $colorMain;

  &__list {
    list-style-type: none;
  }


  &__item {
    border-bottom: 1px solid $colorBorder;
  }

  &__summary {
    font-family: Lato-Bold, sans-serif;
    font-size: 16px;
    line-height: 72px;
    font-weight: 700;
    text-transform: uppercase;
    color: $colorText;

  }

  &__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    padding-bottom: 80px;
  }
  &__box-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 614px;
    padding-left: 30px;
  }

  &__text-h1 {
    font-family: Lato-Bold, sans-serif, sans-serif;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: $colorText;
    margin-bottom: 15px;
  }

  &__text-h2 {
    font-family: Lato-Regular, sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #b3b2b2;
  }

  &__text-h3 {
    font-family: Lato-Bold, sans-serif, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: $colorText;
  }
  &__add {
    margin-top: 33px;
    margin-bottom: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 12px;

    &__link {
      display: block;

    }
  }

  &__button {
    border: 1px solid $colorBorderSingle;
    background-color: $colorMain;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 180px;
    height: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    &:hover {
      border: 1px solid $colorTextAccent;
      -webkit-transition: transform 0.5s ease;
      transition: transform 0.5s ease;
    }
  }

  &__button-link {
    font-family: Lato-Bold, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #4a4a4a;
    &:hover {
      color: $colorTextAccent;
    }
  }
  &__box-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 614px;
  }
}

.radio-box {
  margin-top: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
  & label {
    margin-left: 14px;
  }
}
.login-form {
  margin-top: 17px;

  &__label {
    margin-top: 16px;
    display: block;

  }
  &__input {
    width: 390px;
    height: 45px;
    background-color: $colorMain;
    border: 1px solid $colorBorderSingle;
  }
}
.astrix {
  font-size: 17px;
  line-height: 20px;
  color: #ff0d0d;
}
.important__text {
  font-family: Lato-Regular, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #ff0d0d;
  margin-top: 20px;
  margin-bottom: 26px;
}
.forgot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 30px;

  &-text {
    margin-top: 20px;
    font-family: Lato-Regular, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $colorText;
    &:hover{
      color: $colorTextAccent;
    }
  }
}


