@import "vars";

.catalog {
  display: flex;
  padding-top: 60px;
  padding-bottom: 110px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 243px;
}
.sidebar__block[open] .sidebar__name{
  color: $colorTextAccent;
}
.sidebar__block[open] .fa-caret-down__sidebar {
  color: $colorTextAccent;
}

.sidebar__name {
  display: flex;
  justify-content: space-between;
  border-left: 5px solid $colorTextAccent;
  border-bottom: 1px solid #ebebeb;
  padding: 10px;
  font-family: Lato-Bold, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $colorFilter;
}

summary {
  display: block;
}
summary::-webkit-details-marker {
  display: none;
}


.sidebar__list {
  list-style-type: none;
  padding: 20px;
}
.sidebar__link {
  display: block;
  font-family: Lato-Regular, sans-serif;
  font-size: 14px;
  line-height: 33px;
  font-weight: 400;
  color: $colorFilter;
}
.sidebar__link:hover {
  color: $colorTextAccent;
}

.catalogBox {
  display: flex;
  flex-direction: column;
  width: 850px;
  padding-left: 50px;
}
.top-filter {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 42px;

}
.top-filter__item {
  width: 25%;
}
.top-filter__title {
  font-family: Lato-Bold, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $colorFilter;
  margin-bottom: 23px;
}
.top-filter__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.top-filter__list-item {
  display: flex;
  align-items: center;
}
.top-filter__list-item:not(:last-child):after {
  content: '|';
  padding-left: 8px;
  padding-right: 8px;
  font-family: Lato-Regular, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: $colorFilter;
}
.top-filter__choice-size {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.top-filter__item-size {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $colorFilter;
}
.top-filter__choice-price {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.top-filter__text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: $colorFilter;
}
.sort-by {
  display: flex;
  gap: 10px;
  height: 30px;
  margin-bottom: 48px;
  background-color: #f3f3f3;
  padding: 10px 100px 10px 10px;

}
.sort-by__item {
  display: flex;
  align-items: center;
  border: 1px solid #ebebeb;

}
.sort-by__item-name {
  padding: 0 8px 0 13px;
  border: 1px solid #ebebeb;
  background-color: $colorMain;
  font-family: Lato-Regular, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: $colorFilter;

}
.sort-by__select {
  padding: 4px 21px 3px 9px;
  border: 1px solid #ebebeb;
  background-color: $colorMain;
  font-family: Lato-Regular, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: $colorFilter;
}
.product__heading-text {
  font-family: Lato-Regular, sans-serif;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: $colorFilter;
}
.pagination {
  margin-top: 42px;
  display: flex;
  justify-content: space-between;
}
.pagination__list {
  list-style-type: none;
  background-color: $colorMain;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  padding: 5px;
  display: flex;
  gap: 15px;
}
.pagination__link {
  font-family: Lato-Bold, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #c4c4c4;

}
.pagination__link:hover {
  color: $colorTextAccent;
}

.pagination__button {
  border: 1px solid $colorTextAccent;
  background-color: $colorMain;
  border-radius: 3px;
  width: 150px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $colorMain;
  transition: 0.3s;
  &:hover {
    background-color: $colorTextAccent;
  }
}

.pagination__button-link {
  font-family: Lato-Bold, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: $colorTextAccent;
  transition: 0.3s;
  &:hover {
    color: $colorMain;
  }
}


