$colorMain: #ffffff;
$colorFooterBottom: #e6e6e6;
$colorText: #222222;
$colorTextAccent: #f16d7f;
$colorTextFooter: #898989;
$colorTextFeatureRight: #fbfbfb;
$colorTextSubscribe: #222224;
$colorBorder: #e8e8e8;
$colorBackgroundSingle: #f8f3f4;