@import "vars";
@import "fonts";
@import "single-page";
* {
  margin: 0;
  padding: 0;
}

body{
  background-color: $colorMain;
  font-family: Lato, sans-serif;
  font-style: normal;
  color: $colorText;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

summary {
  display: block;
}

.center {
  padding-right: calc(50% - 1140px/2);
  padding-left: calc(50% - 1140px/2);
}
.container {
  position: relative;
  overflow: hidden;
}

.header {
  &__top {
    min-height: 100px;
    background-color: $colorMain;
    border-bottom: 1px solid #ececec;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    display: flex;
    gap: 37px;
    align-items: center
  }

  &__right {
    display: flex;
    gap: 26px;
    align-items: center
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 13px;
  }
  &__text{
    font-family: Lato-Light, sans-serif;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: $colorText;
  }
  &__bottom {
    height: 51px;
    background-color: $colorMain;
    display: flex;
    justify-content: center;
  }

  &__nav-list {
    list-style-type: none;
    display: flex;
    width: 710px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    z-index: 2;
    //position: absolute;
  }
  &__item {
    position: relative;
    &:hover .mega-box {
      display: flex;
    }
  }
  &__link-text {
    font-family: Lato-Bold, sans-serif;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: $colorText;
    padding: 19px 15px 15px;
    display: block;
    transition: transform 0.6s;

    &:hover {
      color: $colorTextAccent;
      transform: scale(1.2);
    }
  }
}

.text-color {
  font-family: Lato-Black, sans-serif;
  font-weight: 900;
  color: $colorTextAccent;
}
.search-field {
  display: flex;
  position: relative;
  &__button {
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    height: 38px;
    font-family: Lato-Light, sans-serif;
    font-size: 14px;
    letter-spacing: 0.025em;
    color: $colorText;
    width: 87px;
  }
  &__search-input {
    height: 36px;
    border: 1px solid #e6e6e6;
    border-left: none;
    font-family: Lato-Light, sans-serif;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.025em;
    color: #a4a4a4;
    padding-left: 16px;
    padding-right: 16px;
    width: 280px;
  }

  &__search-button {
    border-radius: 0 3px 3px 0;
    height: 38px;
    border: 1px solid #e6e6e6;
    border-left: none;
    padding-left: 11px;
    padding-right: 11px;
    background-color: inherit;
  }
}
.header-top__browse summary {
  list-style-type: none;
}

.header-top__browse-title {
  text-align: left;
  font-family: Lato-Regular, sans-serif;
  font-size: 14px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
  border-bottom: 1px solid #e8e8e8;

  &__browse-title:first-of-type {
    margin-bottom: 50px;
    border-bottom: none;
  }
}
.browse-summary {
  display: flex;
  justify-content: center;
  position: relative;
}

.browse {
  &__details {
    background-color: $colorMain;
    margin-top: 26px;
    position: absolute;
    z-index: 1;
    padding: 0 59px 26px 20px;
    border-radius: 5px;
  }
  &__dropdown-list {
    list-style-type: none;
    text-align: left;
  }
  &__dropdown-item {
    font-family: Lato-Regular, sans-serif;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #4f4f4f;
  }
}
.browse__dropdown-item:hover {
  color: $colorTextAccent;
}
.fa-play {
  padding-left: 4px;
}

.header__add:hover svg path {
  fill: $colorTextAccent;
}
.button__account {
  width: 130px;
  height: 38px;
  background-color: $colorTextAccent;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  color: $colorMain;
  transition: 0.3s;
}
.account__text {
  color: $colorMain ;
  font-family: Lato-Regular, sans-serif;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  transition: 0.3s;
}

.button__account:hover {
  background-color: $colorMain;
  border: 1px solid $colorTextAccent;
  transition: transform 0.5s ease;
}
.account__text:hover {
  color: $colorTextAccent;
}

.mega-box {
  background-color: $colorMain;
  border-radius: 5px;
  border: 1px solid $colorBorder;
  padding: 20px;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 1px solid $colorBorder;
    border-left: 1px solid $colorBorder;
    position: absolute;
    top: -9px;
    transform: rotate(45deg);
    left: 30px;
    background-color: $colorMain;
  }
}
.mega-item {
  margin-right: 46px;
}

.mega-item:last-of-type {
  margin-right: 0;
}

.mega-title {
  font-family: Lato-Regular, sans-serif;
  border-bottom: 1px solid $colorBorder;
  font-size: 14px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
  margin-bottom: 16px;
}

.mega-link {
  font-family: Lato-Regular, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.025em;
  color: #646464;
  display: block;
}
.mega-link:hover {
  color: $colorTextAccent;
}

.last:hover .mega-box {
  right: 0;
  left: auto;
  &::before {
    top: -8px;
    right: 10px;
    left: auto;
  }
}



.brand {
  //padding-left: calc(50% - 800px);
  //padding-right: calc(50% - 800px);
  min-height: 665px;
  background: rgba(244, 244, 244, 0.70);
  background-image: url("./images/man-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__heading {
    display: inline-block;
    border-left: 12px solid rgb(241, 109, 127);
    padding-left: 16px;
  }
}

.heading_h1 {
  font-family: Lato-Black, sans-serif;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color:$colorText;
}

.heading_h2 {
  font-family: Lato-Black, sans-serif;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color:$colorText;
}
.color_pink {
  color:$colorTextAccent;
}

.category {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 100px;
  padding-bottom: 100px;


  &__card {
    position: relative;

  }

  &__column {
    display: flex;
    flex-direction: column;
    gap:20px;
  }
  &__content{
    position: absolute;
    top: 26px;
    background-color: $colorMain;
    padding: 16px 20px;

  }
  &__card-top {
    font-family: Lato-Black, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: $colorText;
  }

  &__card-subtitle {
    font-size: 30px;
    color: $colorTextAccent;
  }
}

.products {
  padding-bottom: 113px;

  &__info{
    padding-bottom: 60px;
  }
  &__title {
    font-family: Lato-Bold, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.025em;
    color: $colorText;
  }
  &__subtitle {
    font-family: Lato-Regular, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.025em;
    color: #9f9f9f;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 260px);
    justify-content: center;
    gap: 33px;
  }
}
.product {
  &__card {
    position: relative;
  }

  &__img {
    width: 100%
  }

  &__content {
    background: $colorMain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 20px;
    gap: 16px;
  }

  &__add {
    position: absolute;
    top: 100px;
    left: 70px;
    border: 1px solid #fff;
    width: 123px;
    height: 39px;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 11px;
    color: $colorMain;
  }

  &__heading {
    font-family: Lato-Bold, sans-serif;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: $colorText;
  }

  &__price {
    font-family: Lato-Bold, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: $colorTextAccent;
  }
}
.product__card:hover .product__img{
  filter: brightness(0.5);
}
.product__card:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.product__card:hover .product__add {
  display: flex;
}
.product__add:hover svg path {
  fill: $colorTextAccent;
}

.products__button {
  margin: 48px auto 0 auto;
  width: 212px;
  height: 48px;
  border: 1px solid $colorTextAccent;
  background-color: $colorTextAccent;
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  color: $colorMain;
  transition: 0.3s;
}
.products__link {
  color: $colorMain ;
  font-family: Lato-Bold, sans-serif;
  font-size: 16px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
  transition: 0.3s;
}

.products__button:hover {
  background-color: $colorMain;
  border: 1px solid $colorTextAccent;
  transition: transform 0.5s ease;
}
.products__link:hover {
  color: $colorTextAccent;
}
.products__link:hover svg path {
  fill: $colorTextAccent;
}

.feature {
  display: flex;
  height: 529px;
  padding-bottom: 97px;

  &__left {
    position: relative;
  }
  &__img{
    width: 100%;
    filter: brightness(0.8);
  }
  &__heading {
    position: absolute;
    top: 134px;
    left: 39px;
  }
  &__heading-h1 {
    font-family: Lato-Bold, sans-serif;
    font-size: 53.7px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: $colorMain;
  }
  &__heading-h2 {
    font-family: Lato-Bold, sans-serif;
    font-size: 32.2px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: $colorMain;
  }

  &__right {
    background-color: $colorTextSubscribe;
    padding: 52px 43px 65px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

  }
  &__info {
    display: flex;
    gap: 31px;
  }

  &__content {
    padding-top: 7px;
    display: flex;
    gap: 18px;
    flex-direction: column;
    align-items: stretch;

  }

  &__title {
    font-family: Lato-Bold, sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: $colorMain;


  }
  &__text {
    font-family: Lato-Light, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: $colorMain;
    max-width: 219px;
  }
}
.feature-info__img {
  align-self: start;
}

.subscription {
  background: rgba(244, 244, 244, 0.70);
  background-image: url(./images/subscribe_bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 438px;

  &__left {
    width: 50%;
    padding-top: 111px;
    padding-bottom: 155px;
    display: flex;
    gap:28px;

  }

  &__right {
    width: 50%;
    padding-top: 140px;
    padding-bottom: 168px;
    border-left: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title1 {
    font-family: Lato-Regular, sans-serif;
    font-size: 24px;
    //line-height: 54px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: $colorText;
  }
  &__title2 {
    font-family: Lato-Regular, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: none;
    padding-bottom: 33px;
  }
  &__form {
    display: flex;
  }

  &__field {
    height: 46px;
    border: none;
    background-color: #e1e1e1;
    border-radius: 23px 0 0 23px;
    padding: 0 28px;
    width: 226px;
  }

  &__button {
    padding: 0 21px 0 20px;
    border-radius: 0 23px 23px 0;
    border: 1px solid $colorTextAccent;
    background-color: $colorTextAccent;
    color: $colorMain;
    transition: 0.3s;

    &:hover {
      background-color: $colorMain;
      color: $colorTextAccent;
      border: 1px solid $colorTextAccent;
      transition: transform 0.5s ease;
    }
  }
}
.review {
  &__content{
    display: flex;
    flex-direction: column;
  }
  &__img{
    width: 83px;
    height: 83px;
  }
  &__text {
    width: 386px;
    font-family: Lato-Italic, sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.025em;
    color: $colorText;
  }
  &__name {

    font-family: Lato-Bold, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: $colorTextAccent;
  }

  &__city {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: $colorText;
    padding-bottom: 45px;
  }
}
.slider-carusel-container {
  display: flex;
  gap: 12px;
}

.carusel-item {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background-color: #d6d6d6;
  pointer-events: none;
  &__active {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background: $colorTextAccent;
  }
}
.bottom__navigation{
  height: 458px;
}
.bottom-navigation{
  &__content{
    display: flex;
    gap: 64px;
  }

  &__left {
    padding-top: 109px;
    padding-bottom: 88px;
    width: 40%;
  }

  &__right {
    margin-top: 123px;
    width: 60%;
  }
  &__scroll-info {
    height: 180px;
    //overflow: scroll;
    margin-top: 29px;
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
  &__nav {
    display: flex;
  }

  &__nav-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__nav-block:first-child {
    margin-right: 129px;
  }

  &__nav-block:nth-child(2) {
    margin-right: 80px;
  }
}
.left__text {
  font-family: Lato-Light, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: $colorTextFooter;
}
.nav-block {
  &__nav-title {
    font-family: Lato-Bold, sans-serif;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.025em;
    color: $colorTextAccent;
  }

  &__nav-list {
    list-style: none;
  }
}
.nav-item__link {
  font-family: Lato-Regular, sans-serif;
  font-size: 16px;
  line-height: 43px;
  letter-spacing: 0.025em;
  color: $colorTextFooter;

  &:hover {
    color: $colorTextAccent;
  }
}
.footer {
  background-color: $colorFooterBottom;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__text {
    font-family: Lato-Regular, sans-serif;
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: $colorTextFooter;
  }
  &__icons {
    display: flex;

    gap:8px;
  }
}
.media__link {
  width: 32px;
  height: 32px;
  background-color: $colorMain;
  display: flex;
  align-items: center;
  justify-content: center;
}
.media__link:hover {
  background-color: $colorTextAccent;
}
.media__img{
  text-align: center;
  //margin: auto;
  display: flex;

}


















